.App {
    width: 600px;
    height: 600px;
    margin: auto;
}

.playBoard {
    display: grid;
    max-height: 800px;
    border: 1px solid mediumaquamarine;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.boardItem {
    text-align: center;
    padding: 40% 0;
    border: 1px solid mediumaquamarine;
    background-color: aquamarine;
}